@charset "utf-8";

/* 가운데 정렬 */
.container {width: 1000px; margin: 0 auto;}

/* 메인배너 */
#banner {width: 100%; height: 677.45px; background: url(../images/main_01.jpg) repeat-x center top; background-size: cover;}
#banner .slideImg {height: 677.45px; position: relative;}
#banner .slideImg:after {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #000; opacity: .3; z-index: 1;}
#banner .slideImg img {display: block;}
#banner .slideImg h2 {position: absolute; left: 50%; top: 50%; z-index: 2; transform: translate(-50%,-50%); color: #fff; font-size: 50px; line-height: 1.2; }
#banner .slideImg p {position: absolute; left: 50%; top: 50%; font-size: 16px; z-index: 2; color: #fff; transform: translate(-50%,-50%);
                     margin-top: 50px; line-height: 1.62;}

/* 로고와 내용 */
#ban-txt {width: 100%; height: 500px; background-color: rgb(30, 31, 46);}
#ban-txt .logo {padding: 100px 0 50px 0;}
#ban-txt .logo img {display: block; width: 100%;}
#ban-txt p {color: rgb(167, 169, 190); text-align: center; font-size: 17px; line-height: 30px; margin: -6px 0; font-weight: 400;}
#ban-txt span {display: block; color: rgb(255, 72, 0); font-weight: bold; text-align: center; margin-top: 40px; }
#ban-txt .link {display: block; color: rgb(116, 120, 151); text-align: center; margin-top: 40px; font-weight: 600; text-decoration: underline;}

/* 이벤트 내용 */
#event-txt { text-align: center; padding-top: 100px; text-transform: uppercase;}
#event-txt h3 {display: inline-block; margin-bottom: 15px; font-size: 19px; width: 120px; height: 30px; background: #ff4800; color: #fff;}
#event-txt p {font-size: 30px; font-weight: 500; line-height: 30px; margin-bottom: 45px;}

/* 영상 */
#video { width: 100%; background: url(../images/bg.jpg) no-repeat center; background-size: cover;}
.video {position: relative; height: 0; padding-bottom: 56.25%;}
.video iframe { position: absolute; width: 100%; height: 100%;}
/*.video iframe { width: 1000px; height: 591px;}*/

/* pic */
#pic {width: 100%; background-color: rgb(30, 31, 46);}
.pic {width: 1000px; margin: 0 auto;}
.pic img {width: 100%; display: block;}

/* full-pic */
#full-pic {position: relative;  z-index: 1; background: url(../images/img_03.jpg) center center; background-size: cover;}
#full-pic:before {content: ''; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); position: absolute; left: 0; top: 0;} 
.full-pic {padding: 235px 0; text-align: center; z-index: 10; position: relative;}
.full-pic h3 {font-size: 40px; padding-bottom: 20px; color: #fff;}
.full-pic p {font-size: 16px; color: #fff;}
.full-pic .view {font-size: 16px; display: inline-block; margin-top: 50px;  border: 1px solid #fff; padding: 12px 42px; transition: all 0.3s ease; color: #fff;}
.full-pic .view:hover {background-color: #fff; color: #000;}
.full-pic img {width: 100%; display: block;}

/* pic-2 */
#pic-2 {width: 100%; background: rgb(30, 31, 46);}
.pic-2 {width: 1000px; margin: 0 auto;}
.pic-2 img {width: 100%; display: block; padding-top: 150px;}

/* full-pic-2 */
#full-pic-2 {position: relative; width: 100%; height: 940px; background: url(../images/img_07.jpg) no-repeat center center; background-size: cover; margin-bottom: 100px;}
#full-pic-2:before {content: ''; width: 100%; height: 100%; background-color: rgba(0,0,0,0.2); position: absolute; left: 0; top: 0;}
.full-pic-2 img{display: block; width: 100%;}



/* 미디어쿼리 */
@media (max-width: 1200px){
    /* 메인배너 */
    #banner .slideImg h2 {position: absolute; left: 50%; top: 50%; z-index: 2; transform: translate(-50%,-50%); color: #fff; font-size: 35px; line-height: 1.2;}
    /* 가운데 정렬 */
    .container {width: 100%;}
}


@media (max-width: 1024px){
    /* pic */
    .row {padding: 10px;}
    .pic {width: 100%;}
    
    /* pic-2 */
    .pic-2 {width: 100%;}
    /* full-pic */
    #full-pic {position: relative;  z-index: 1; height: 854px; background: url(../images/img_03.jpg) center top; background-size: cover;}
    #full-pic:before {content: ''; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); position: absolute; left: 0; top: 0;} 
    .full-pic {padding:200px 0; text-align: center; z-index: 10; position: relative;}
    .full-pic h3 {font-size: 30px; padding-bottom: 12px; color: #fff;}
    .full-pic p {font-size: 15px; color: #fff;}
    .full-pic .view {font-size: 12px; display: inline-block; margin-top: 30px;  border: 1px solid #fff; padding: 8px 35px; transition: all 0.3s ease; color: #fff;}
    .full-pic .view:hover {background-color: #fff; color: #000;}
    .full-pic img {width: 100%; display: block;}

}


@media (max-width: 960px){
    /* 메인배너 */
    #banner {height: 400px;}
    #banner .slideImg {height: 400px; position: relative;}
    #banner .slideImg h2 {position: absolute; left: 50%; top: 50%; z-index: 2; transform: translate(-50%,-50%); color: #fff; font-size: 30px; line-height:45px;}
    #banner .slideImg p {font-size: 16px;}
    
    /* full-pic */
    #full-pic .row {padding: 15px;}
    #full-pic {position: relative; height: 600px; z-index: 1; background: url(../images/img_03.jpg) center center; background-size: cover;}
    #full-pic:before {content: ''; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); position: absolute; left: 0; top: 0;} 
    .full-pic {padding: 115px 0; text-align: center; z-index: 10; position: relative;}
    .full-pic h3 {font-size: 35px; padding-bottom: 20px; color: #fff;}
    .full-pic p {font-size: 16px; color: #fff;}
    .full-pic .view {font-size: 16px; display: inline-block; margin-top: 50px;  border: 1px solid #fff; padding: 12px 42px; transition: all 0.3s ease; color: #fff;}
    .full-pic .view:hover {background-color: #fff; color: #000;}
    .full-pic img {width: 100%; display: block;}
}


@media (max-width: 768px){
    
}


@media (max-width: 600px){
    
    /* 로고와 내용 */
    #ban-txt .row {padding: 15px;}
    #ban-txt {width: 100%; height: 460px; background-color: rgb(30, 31, 46);}
    #ban-txt .logo {padding: 23px 0 30px 0;}
    #ban-txt .logo img {display: block; width: 100%;}
    #ban-txt p {color: rgb(167, 169, 190); text-align: center; font-size: 17px; line-height: 25px; margin: -6px 0; font-weight: 400;}
    #ban-txt span {display: block; color: rgb(255, 72, 0); font-weight: bold; text-align: center; margin-top: 40px; }
    #ban-txt .link {display: block; color: rgb(116, 120, 151); text-align: center; margin-top: 40px; font-weight: 600; text-decoration: underline;}
    
    /* pic */
    #pic .row {padding: 20px;}
    .pic {width: 100%;}
    .pic img {width: 100%; display: block; margin: 0;}
    
    /* full-pic */
    #full-pic .row {padding: 15px;}
    #full-pic:before {content: ''; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); position: absolute; left: 0; top: 0;} 
    .full-pic {padding: 115px 0; text-align: center; z-index: 10; position: relative;}
    .full-pic h3 {font-size: 25px; padding-bottom: 15px; color: #fff;}
    .full-pic p {font-size: 16px; color: #fff;}
    .full-pic .view {font-size: 16px; display: inline-block; margin-top: 45px;  border: 1px solid #fff; padding: 11px 40px; transition: all 0.3s ease; color: #fff;}
    .full-pic .view:hover {background-color: #fff; color: #000;}
    .full-pic img {width: 100%; display: block;}
    
    /* pic-2 */
    .pic-2 img {width: 100%; display: block; padding-top: 30px;}
    
    /* 이벤트 내용 */
    #event-txt .row {padding: 15px;}
    #event-txt { text-align: center; padding-top: 50px; text-transform: uppercase;}
    #event-txt h3 {display: inline-block; margin-bottom: 15px; font-size: 18px; width: 120px; height: 30px; background: #ff4800; color: #fff;}
    #event-txt p {font-size: 23px; font-weight: 500; line-height: 27px; margin-bottom: 45px;}
    
    /* full-pic-2 */
    #full-pic-2 {position: relative; width: 100%; height: 500px; background: url(../images/img_07.jpg) no-repeat center center; background-size: cover; margin-bottom: 50px;}
    #full-pic-2:before {content: ''; width: 100%; height: 100%; background-color: rgba(0,0,0,0.2); position: absolute; left: 0; top: 0;}
    .full-pic-2 img{display: block; width: 100%;}

}

@media (max-width: 400px){
    /* 메인배너 */
    #banner .slideImg h2 {position: absolute; left: 50%; top: 50%; z-index: 2; transform: translate(-50%,-50%); color: #fff; font-size: 20px; line-height: 1.2;}
  
}